@media (max-width: 768px) {
    .movie {
        width: 100%;
        /*las películas ocuparán todo el ancho en pantallas pequeñas*/
    }

    .movie-img {
        width: 100%;
        /*ajusta la imagen para que ocupe todo el ancho del contenedor*/
        height: auto;
        /*mantén la proporción de la imagen*/
        margin: 0 auto;
        /*centra la imagen*/
    }

    section {
        justify-content: center;
        flex-wrap: nowrap;
        /* No permite que las películas se muevan a la siguiente línea */
    }

    .slider-box img {
        width: 100%;
        /*las imágenes ocuparán el 100% del ancho en pantallas pequeñas*/
    }

    body {
        padding: 10px;
        /*reduce el padding en pantallas pequeñas*/
    }

    header,
    footer {
        font-size: 0.9rem;
        /*reduce el tamaño de la fuente en pantallas pequeñas*/
        padding: 10px;
    }

    nav a {
        margin: 0 10px;
        /*ajusta el margen entre los enlaces de navegación*/
    }

    button {
        padding: 0.3rem 0.5rem;
        /*ajusta el tamaño del botón*/
    }

    .respuesta {
        display: none;
        margin-top: 5px;
    }
    
    .pregunta h3 {
        cursor: pointer;
        color: #007bff; /* Puedes personalizar el color */
    }
    
    .pregunta h3:hover {
        text-decoration: underline;
    }
    

    .pagina-peliculas {
        position: relative;
        /* Para posicionar los botones de navegación */
    }

    .pagina-peliculas section {
        flex-wrap: wrap;
        overflow-x: scroll;
        gap: 0;
    }

    .pelicula {
        text-align: center;
    }
}

/* Pantallas medianas (de 769px a 1023px) - Tablets */
@media (min-width: 769px) and (max-width: 1023px) {
    .movie {
        width: 48%;
        /* Las películas ocuparán el 48% del ancho */
    }

    .movie-img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    section {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .slider-box img {
        width: 100%;
    }

    body {
        padding: 20px;
    }

    header,
    footer {
        font-size: 1rem;
        padding: 15px;
    }

    nav a {
        margin: 0 15px;
    }

    button {
        padding: 0.5rem 1rem;
    }

    .respuesta {
        display: none;
        margin-top: 5px;
    }

    .pregunta h3 {
        cursor: pointer;
        color: #007bff;
    }
    
    .pregunta h3:hover {
        text-decoration: underline;
    }

    .pagina-peliculas {
        position: relative;
    }

    .pagina-peliculas section {
        flex-wrap: wrap;
        gap: 20px;
    }

    .pelicula {
        text-align: center;
    }

    .nav-btn {
        display: block;
        /* Muestra los botones de navegación */
    }
}

/* Pantallas grandes (desde 1024px en adelante) */
@media (min-width: 1024px) {
    .nav-btn {
        display: none;
    }
}